<div class="container" >
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>

    <hr>

    <div class="row p-3">
      <h5>Mostrar:</h5>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ea officia quia quas voluptatum libero doloremque, laboriosam quaerat consequatur dolores vel ullam sit, non atque accusamus esse, architecto obcaecati natus!</p>
    </div>
    
</div>
